In [15]:
#Reading tabular data into data frame object and visualizing it

import pandas as pd

#Defaults are: first line is header, sep is tab
orders_df= pd.read_table('http://bit.ly/chiporders')
orders_df.head()

#Mention sep character and play with header argument
movieusers_withoutHeader_df = pd.read_table('http://bit.ly/movieusers', sep = '|')
movieusers_withoutHeader_df.head(10)

movieusers_withHeader_df = pd.read_table('http://bit.ly/movieusers', sep = '|', header=None)
movieusers_withHeader_df.head(10)

usr_col = ['id','age','gender','role','zipcode']
movieusers_customHeader_df = pd.read_table('http://bit.ly/movieusers', sep = '|', header=None, names=usr_col)
movieusers_customHeader_df.head(10)

#Testing out skipfooter and skiprows
movieusers_skiprows_df = pd.read_table('../Datasets/chiporders.tsv', header=None, skiprows=[0,1], skipfooter=1)
movieusers_skiprows_df.tail(10)

c:\python35\lib\site-packages\ipykernel_launcher.py:21: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.

,0,1,2,3,4
4611,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$9.25
4612,1831,1,Chips,NaN,$2.15
4613,1831,1,Bottled Water,NaN,$1.50
4614,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$8.75
4615,1832,1,Chips and Guacamole,NaN,$4.45
4616,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4618,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [17]:
#How do I select a pandas Series from DataFrame?
#So, What is a series?
#Pandas has two object types: Dataframe and series. Each of dataframe column is a series

import pandas as pd

ufo_df = pd.read_csv('../Datasets/uforeports.csv')
ufo_df.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00