In [ ]:
#2. Reading tabular data into data frame object and visualizing it

import pandas as pd

#Defaults are: first line is header, sep is tab
#read_table is by default tab separated, read_csv is comma separated

orders_df= pd.read_table('../Datasets/chiporders.tsv')

#dataframeObject.head() method will give first five rows by default. It can take argument to give more rows
orders_df.head()

#type will tell you what data type it is
type(orders_df.head())

#Mention sep character and play with header argument
movieusers_withoutHeader_df = pd.read_table('../Datasets/movieusers', sep = '|')
movieusers_withoutHeader_df.head(10)

movieusers_withHeader_df = pd.read_table('http://bit.ly/movieusers', sep = '|', header=None)
movieusers_withHeader_df.head(10)

usr_col = ['id','age','gender','role','zipcode']
movieusers_customHeader_df = pd.read_table('http://bit.ly/movieusers', sep = '|', header=None, names=usr_col)
movieusers_customHeader_df.head(10)

#Testing out skipfooter and skiprows
movieusers_skiprows_df = pd.read_table('../Datasets/chiporders.tsv', header=None, skiprows=[0,1], skipfooter=1)
movieusers_skiprows_df.tail(10)

In [1]:
#3. How do I select a pandas Series from DataFrame?
#So, What is a series?
#Pandas has two object types: Dataframe(Table of rows and columns (called pandas series)) and series. 
#Each of dataframe column is a series. Also, a series need not
#necessarily be a part of dataframe. It can be an independant object.

import pandas as pd

ufo_df = pd.read_csv('../Datasets/uforeports.csv')
ufo_df.head()

#selecting series
ufo_df['City'] #or ufo_df.City
ufo_df['Location'] = ufo_df['City'] + ', ' + ufo_df['State']
ufo_df.head()

,City,Colors Reported,Shape Reported,State,Time,Location
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00,"Ithaca, NY"
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00,"Willingboro, NJ"
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00,"Holyoke, CO"
3,Abilene,NaN,DISK,KS,6/1/1931 13:00,"Abilene, KS"
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00,"New York Worlds Fair, NY"

In [ ]:
#4. Why do some pandas command end with paranthesis and others don't
# Simple takeaway is: the one with paranthesis (methods) are actions and the one without are attributes.

import pandas as pd

movies = pd.read_csv('../Datasets/movie_metadata.csv')
movies.head()

#As long as there is one numeric column, it will show descriptive statics. This is also an example of action.
movies.describe()

#example attributes
movies.shape
movies.dtypes

In [ ]:
#5. How do I rename columns in dataframe

import pandas as pd

ufo = pd.read_csv('../Datasets/uforeports.csv')

#.columns attribute can be called to look at all column names
ufo.columns

#Below is how columns can be changed, in multiple ways

#1. To change specific column names
ufo.rename(columns = {'Colors Reported': 'Colors_Reported', 'Shape Reported': 'Shape_Reported'}, inplace = True)

#2. To change all column names is to create a python list of new column names and simply assign. 
new_col_names = ['city', 'colors reported', 'shape reported', 'state', 'time']
ufo.columns = new_col_names


#3. Changing column names while reading the file. Mentioning header argument is compulsory. This says that 
# the file we are reading has header in 0th row. 
ufo = pd.read_csv('../Datasets/uforeports.csv', names=new_col_names, header=0)
ufo.head()

#4. Wild card option to change all column names of your choice. Ex: replace all col having spaces with underscores
ufo.columns = ufo.columns.str.replace(' ', '_')
ufo.columns

In [ ]:
#6. How do I remove columns from dataframe
import pandas as pd

ufo = pd.read_csv('../Datasets/uforeports.csv')
ufo.head()
#shape attribute will give number of rows and columns as tuple for that dataframe

#Delete a column (or a row) by mentioning "axis" using drop method. for rows use axis 0 and axis 1 for columns
ufo.drop('City', axis=1, inplace=True)

#Multiple columns can be dropped by passing list
ufo.drop(['Colors Reported', 'State'], axis=1, inplace=True)

#To delete rows, use names of rows (called index or labels) with axis=0. NOTE: axis=0 is default
ufo.drop([0,1], axis=0, inplace=True)

In [ ]:
#7. How do I sort pandas dataframe or series
import pandas as pd

movies = pd.read_csv('../Datasets/imdbratings.csv')

#New way to start: In version 0.17 or later
movies.title.sort_values()#ascending is by default. You can use bracket notation as well.

#Since we did not say "inplace", movies.title will give you the unsorted result
movies.title

#Sorting dataframe by a particular column and still displaying the whole data frame
movies.sort_values('title')

In [1]:
#8. How do I filter rows of df by column value. Basically a where clause in sql analogy

import pandas as pd

movies = pd.read_csv('../Datasets/imdbratings.csv')

#What we want: Filter all rows from df where "duration" (series/column) >= 200

#How we do it:
movies[movies.duration >= 200]
#de-cipher'ing the above code
#movies.duaration will internally run a for loop on all rows and generate a pandas series
# of True or False for the condtion (in this case >= 200). This boolean is applied on the df
# to filter out the rows.

#Bonus tip: How to select few columns matching the where condition
movies.loc[movies.duration >= 200, ['title', 'genre', 'duration']]

                                             title      genre  duration
2                           The Godfather: Part II      Crime       200
7    The Lord of the Rings: The Return of the King  Adventure       201
17                                   Seven Samurai      Drama       207
78                     Once Upon a Time in America      Crime       229
85                              Lawrence of Arabia  Adventure       216
142              Lagaan: Once Upon a Time in India  Adventure       224
157                             Gone with the Wind      Drama       238
204                                        Ben-Hur  Adventure       212
445                           The Ten Commandments  Adventure       220
476                                         Hamlet      Drama       242
630                                      Malcolm X  Biography       202
767                It's a Mad, Mad, Mad, Mad World     Action       205

In [ ]:
#9. How to apply multiple filter criteria to pandas df. Basically multiple where conditions

import pandas as pd

movies = pd.read_csv('../Datasets/imdbratings.csv')

movies[(movies.duration >= 200) & (movies.genre.isin == 'Drama')]#single pipe for "OR"

#another flavor is selecting multiple genre.
movies[movies.genre.isin(['Crime','Drama'])]

#another variation
movies[(movies.duration >= 200) & (movies.genre.isin(['Crime','Drama']))]

In [ ]:
#10. Answering multiple questions

import pandas as pd, numpy as np
#Q1: What about reading csv file with specific columns
#Ans: You will specify column names or columns position
ufo = pd.read_csv('../Datasets/uforeports.csv', usecols=['City', 'Time'])

#Q2: Fastest way to read csv file. 
#Ans: No exact way to say, but nrows will give a first n rows of a big dataset to take a look
ufo = pd.read_csv('../Datasets/uforeports.csv', nrows = 5)


#Q3: how to iterate through df and series
#Ans: Iterating through series is same as in python
ufo = pd.read_csv('../Datasets/uforeports.csv')
ufo.head
#iterate series
for c in ufo.City:
   print(c)

#iterate df
for i,row in ufo.iterrows():
    print(i,row.City, row.Time)
    
#Q4: Drop every non-numeric column in a dataframe
#Ans:
drinks = pd.read_csv('../Datasets/drinksbycountry.csv')
drinks.select_dtypes(include=[np.number])

In [ ]:
#11. How to use axis parameter in pandas. 
# Synopsis: axis = 0 or 'index' represent rows
#           axis = 1 or 'columns' represnt columns

import pandas as pd

drinks = pd.read_csv('../Datasets/drinksbycountry.csv')

drinks.head()

drinks.drop('continent', axis=1).head()

In [ ]:
#12 How to use string methods in pandas

import pandas as pd

orders = pd.read_table('../Datasets/chiporders.tsv')

#upper on a series 
orders.item_name.str.upper()

#contains
orders.item_name.str.contains('Chicken')

#Look into API for ton of other string methods

#String chaining
orders.choice_description.str.replace('[', '')
orders.choice_description.str.replace('[', '').str.replace(']', '')

#Using regex, writing above code.
orders.choice_description.str.replace('[\[\]]', '')

In [ ]:
#13. How to change data type of a series

import pandas as pd

drinks = pd.read_csv('../Datasets/drinksbycountry.csv')
drinks.dtypes

#convert beer_servings to float type. One common usecase is to perform math operations
#on column which is string type. We need to first convert it to int/float while reading into pandas.
drinks['beer_servings'] = drinks.beer_servings.astype(float)
drinks.dtypes

#To convert during the reading process of dataframe, use below syntax
drinks = pd.read_csv('../Datasets/drinksbycountry.csv', dtype={'beer_servings': float})
drinks.dtypes

In [ ]:
#14. When to use groupby in pandas

import pandas as pd

drinks = pd.read_csv('../Datasets/drinksbycountry.csv')

drinks.groupby('continent').beer_servings.mean()

#the above statement is equal to 
drinks[drinks.continent == 'Africa'].beer_servings.mean()

#multiple math functions can be performed "For Each type" by using "agg" function
drinks.groupby('continent').beer_servings.agg(['count', 'min','max','mean','median'])