In [2]:
#2. Reading tabular data into data frame object and visualizing it

import pandas as pd

#Defaults are: first line is header, sep is tab
orders_df= pd.read_table('http://bit.ly/chiporders')

#dataframeObject.head() method will give first five rows by default. It can take argument to give more rows
orders_df.head()

#Mention sep character and play with header argument
movieusers_withoutHeader_df = pd.read_table('http://bit.ly/movieusers', sep = '|')
movieusers_withoutHeader_df.head(10)

movieusers_withHeader_df = pd.read_table('http://bit.ly/movieusers', sep = '|', header=None)
movieusers_withHeader_df.head(10)

usr_col = ['id','age','gender','role','zipcode']
movieusers_customHeader_df = pd.read_table('http://bit.ly/movieusers', sep = '|', header=None, names=usr_col)
movieusers_customHeader_df.head(10)

#Testing out skipfooter and skiprows
movieusers_skiprows_df = pd.read_table('../Datasets/chiporders.tsv', header=None, skiprows=[0,1], skipfooter=1)
movieusers_skiprows_df.tail(10)

c:\python35\lib\site-packages\ipykernel_launcher.py:21: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.

,0,1,2,3,4
4611,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$9.25
4612,1831,1,Chips,NaN,$2.15
4613,1831,1,Bottled Water,NaN,$1.50
4614,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$8.75
4615,1832,1,Chips and Guacamole,NaN,$4.45
4616,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4618,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [11]:
#3. How do I select a pandas Series from DataFrame?
#So, What is a series?
#Pandas has two object types: Dataframe(Table of rows and columns (called pandas series)) and series. 
#Each of dataframe column is a series. Also, a series need not
#necessarily be a part of dataframe. It can be an independant object.

import pandas as pd

ufo_df = pd.read_csv('../Datasets/uforeports.csv')
ufo_df.head()

#selecting series
ufo_df['City'] #or ufo_df.City
ufo_df['Location'] = ufo_df['City'] + ', ' + ufo_df['State']
ufo_df.head()

,City,Colors Reported,Shape Reported,State,Time,Location
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00,"Ithaca, NY"
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00,"Willingboro, NJ"
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00,"Holyoke, CO"
3,Abilene,NaN,DISK,KS,6/1/1931 13:00,"Abilene, KS"
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00,"New York Worlds Fair, NY"

In [2]:
#4. Why do some pandas command end with paranthesis and others don't
# Simple takeaway is: the one with paranthesis (methods) are actions and the one without are attributes.

import pandas as pd

movies = pd.read_csv('../Datasets/movie_metadata.csv')
movies.head()

#As long as there is on numeric column, it will show descriptive statics.
movies.describe()

#example attributes
movies.shape
movies.dtypes

color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
genres                        object
actor_1_name                  object
movie_title                   object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
content_rating                object
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
dtype: object

In [24]:
#5. How do I rename columns in dataframe

import pandas as pd

ufo = pd.read_csv('../Datasets/uforeports.csv')

#.columns attribute can be called to look at all column names
ufo.columns

#Below is how columns can be changed, in multiple ways

#1. To change specific column names
ufo.rename(columns = {'Colors Reported': 'Colors_Reported', 'Shape Reported': 'Shape_Reported'}, inplace = True)

#2. To change all column names is to create a python list of new column names and simply assign. 
new_col_names = ['city', 'colors reported', 'shape reported', 'state', 'time']

ufo.columns = new_col_names

#3. Changing column names while reading the file. Mentioning header argument is compulsory. This says that 
# the file we are reading has header in 0th row. 
ufo = pd.read_csv('../Datasets/uforeports.csv', names=new_col_names, header=0)
ufo.head()

#4. Wild card option to change all column names of your choice. Ex: replace all col having spaces with underscores
ufo.columns = ufo.columns.str.replace(' ', '_')
ufo.columns

Index(['city', 'colors_reported', 'shape_reported', 'state', 'time'], dtype='object')