In [ ]:
#2. Reading tabular data into data frame object and visualizing it

import pandas as pd

#Defaults are: first line is header, sep is tab
orders_df= pd.read_table('http://bit.ly/chiporders')

#dataframeObject.head() method will give first five rows by default. It can take argument to give more rows
orders_df.head()

#Mention sep character and play with header argument
movieusers_withoutHeader_df = pd.read_table('http://bit.ly/movieusers', sep = '|')
movieusers_withoutHeader_df.head(10)

movieusers_withHeader_df = pd.read_table('http://bit.ly/movieusers', sep = '|', header=None)
movieusers_withHeader_df.head(10)

usr_col = ['id','age','gender','role','zipcode']
movieusers_customHeader_df = pd.read_table('http://bit.ly/movieusers', sep = '|', header=None, names=usr_col)
movieusers_customHeader_df.head(10)

#Testing out skipfooter and skiprows
movieusers_skiprows_df = pd.read_table('../Datasets/chiporders.tsv', header=None, skiprows=[0,1], skipfooter=1)
movieusers_skiprows_df.tail(10)

In [ ]:
#3. How do I select a pandas Series from DataFrame?
#So, What is a series?
#Pandas has two object types: Dataframe(Table of rows and columns (called pandas series)) and series. 
#Each of dataframe column is a series. Also, a series need not
#necessarily be a part of dataframe. It can be an independant object.

import pandas as pd

ufo_df = pd.read_csv('../Datasets/uforeports.csv')
ufo_df.head()

#selecting series
ufo_df['City'] #or ufo_df.City
ufo_df['Location'] = ufo_df['City'] + ', ' + ufo_df['State']
ufo_df.head()

In [ ]:
#4. Why do some pandas command end with paranthesis and others don't
# Simple takeaway is: the one with paranthesis (methods) are actions and the one without are attributes.

import pandas as pd

movies = pd.read_csv('../Datasets/movie_metadata.csv')
movies.head()

#As long as there is one numeric column, it will show descriptive statics. This is also an example of action.
movies.describe()

#example attributes
movies.shape
movies.dtypes

In [ ]:
#5. How do I rename columns in dataframe

import pandas as pd

ufo = pd.read_csv('../Datasets/uforeports.csv')

#.columns attribute can be called to look at all column names
ufo.columns

#Below is how columns can be changed, in multiple ways

#1. To change specific column names
ufo.rename(columns = {'Colors Reported': 'Colors_Reported', 'Shape Reported': 'Shape_Reported'}, inplace = True)

#2. To change all column names is to create a python list of new column names and simply assign. 
new_col_names = ['city', 'colors reported', 'shape reported', 'state', 'time']
ufo.columns = new_col_names


#3. Changing column names while reading the file. Mentioning header argument is compulsory. This says that 
# the file we are reading has header in 0th row. 
ufo = pd.read_csv('../Datasets/uforeports.csv', names=new_col_names, header=0)
ufo.head()

#4. Wild card option to change all column names of your choice. Ex: replace all col having spaces with underscores
ufo.columns = ufo.columns.str.replace(' ', '_')
ufo.columns

In [6]:
#6. How do I remove columns from dataframe
import pandas as pd

ufo = pd.read_csv('../Datasets/uforeports.csv')
ufo.head()
#shape attribute will give number of rows and columns as tuple for that dataframe

#Delete a column (or a row) by mentioning "axis" using drop method. for rows use axis 0 and axis 1 for columns
ufo.drop('City', axis=1, inplace=True)

#Multiple columns can be dropped by passing list
ufo.drop(['Colors Reported', 'State'], axis=1, inplace=True)

#To delete rows, use names of rows (called index or labels) with axis=0. NOTE: axis=0 is default
ufo.drop([0,1], axis=0, inplace=True)

  Colors Reported Shape Reported State             Time
0             NaN       TRIANGLE    NY   6/1/1930 22:00
1             NaN          OTHER    NJ  6/30/1930 20:00
2             NaN           OVAL    CO  2/15/1931 14:00
3             NaN           DISK    KS   6/1/1931 13:00
4             NaN          LIGHT    NY  4/18/1933 19:00